# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.suo
*.sdf
*.log
*.filters
*.tlog
*.opensdf
*.filters
*.~2~
borland/awpipl2b.~dsk
*.~1~
borland/awpipl2b.dsk
borland/awpipl2b.cbproj.local
borland/New1.txt
borland/__history/*.*
*.awp
vc/vc2013/Debug/08597_HD.jpg
vc/vc2017/Debug/08597_HD.jpg
vc/vc2013/Debug/result.txt
vc/vc2017/Debug/hst.txt
vc/vc2017/Debug/result.txt
src/__history/
include/__history/
borland/release_build/
borland/debug_build/
